.color-figures {

    & > div {
        padding: 7.5px 15px;

        .color-figure {
            border-radius: 5px;
            box-shadow: 1px 1px 4px 0px #888;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 150px;
            background: #fff;

            span:first-child {
                color: #333;
                margin-bottom: 5px;
                text-align: center;
            }
            span:last-child {
                font-size: 1.2rem;
                text-align: center;
            }
        }
        &:first-child .color-figure span:last-child {
            color: #00a3ae;
        }
        &:nth-child(2) .color-figure span:last-child {
            color: #336599;
        }
        &:nth-child(3) .color-figure span:last-child {
            color: #f04c3e;
        }
        &:nth-child(4) .color-figure span:last-child {
            color: #379541;
        }
        &:nth-child(5) .color-figure span:last-child {
            color: #f04c3e;
        }
        &:nth-child(6) .color-figure span:last-child {
            color: #336599;
        }
    }
}
::ng-deep #dashboard-carousel {
    .carousel-indicators li {
        background-color: #0078db;
    }
    .carousel-item {
        height: 55vw;
        width: 100%;

        & > div {
            height: 100%;
            width: 100%;
        }
    }
}
@media all and (max-width: 992px) {
    .table {
        tr {
            td, th {
                &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                    display: none;
                }
            }
        }
    }
    .color-figure {
        justify-content: space-between !important;
        min-height: auto !important;
        flex-direction: row !important;
        padding: 5px 10px !important;

        span:first-child {
            margin-bottom: 0 !important;
        }
    }
}